body {
    background: linear-gradient(150deg, rgb(60, 82, 109), rgb(33, 36, 36, 0.35));
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpDiv {
    display: flex;
    width: 400px;
    height: 450px;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Courier New', monospace;
    background: rgb(147, 152, 255, 0.12);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
}

p {
    font-size: 30px;
}

#signUpForm {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 100%;
}

.signUpInputDiv {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.signUpInput {
    height: 15px;
    width: 80%;
    border-radius: 30px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.34);
    margin-right: 24px;
    padding: 10px;
}
.signUpInput::placeholder{
    color: black;
    opacity: 0.7;
}


#signUpButtonDiv {
    gap: 20px;
}

.signUpButton {
    width: 36%;
    height: 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#divider {
    width: 100%;
    border: none;
    border-top: 1px solid #000000;
}

#buttonForgot {
    font-weight: bold;
    font-size: 15px;
}

i {
    position: relative;
    left: 1%;
    top: 25%;
}
